
@{
    Layout = null;
}

@model IEnumerable<CvAssignment.ViewModel.SkillsViewModel>


@{
    List<SelectListItem> skillViews = new List<SelectListItem>();
    foreach (var skills in Model)
    {
        skillViews.Add(new SelectListItem()
        {
            Value = skills.SkillsID.ToString(),
            Text = skills.SkillsName

        });

    }
    List<int> skillsID = Model.Select(x => x.SkillsID).ToList();
}




<p id="Saved"></p>


<div id="skills-main">
    <div class="skills-container">
        <div>
            <label>Available Skills</label>
            @Html.DropDownListFor(a => skillsID, skillViews, new { @class = "SkillsID" })
        </div>
        <div>
            <label>Start Date:</label>
            <input class="EffectiveStart" type="date" value="" />
        </div>
        <div>
            <label>End Date:</label>
            <input class="EffectiveEnd" type="date" value="" />
        </div>
        <input type="submit" value="Add" class="btn-Create" onclick="SaveSkills()" />
        @*<input type="button" value="Add New Skills" onclick="AddNewSkills()" />*@
    </div>
</div>


