
@{
    ViewBag.Title = "CreateSkills";

}
@model IEnumerable<CvAssignment.ViewModel.SkillsViewModel>

<head>
    <script src="~/Scripts/AddNewSkills.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 20%;
            margin: auto;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 2px solid #ddd;
        }
    </style>
</head>



<h2>CreateSkills</h2>
<div id="showSkillsAcquired"></div>
<p id="Saved"></p>

<div id="dropdownRefresh"></div>


<div id="CreateNewSkill">
    <label>Create New Skills</label>
    <input id="NewSkillText" type="text" value="" />

    <div>
        <label>Start Date:</label>
        <input class="Start" type="date" value="" />
    </div>
    <div>
        <label>End Date:</label>
        <input class="End" type="date" value="" />
    </div>
    <br />
    <input type="submit" value="Save" onclick="SaveNewSkills()" />
</div>
<p id="DateError"></p>


<script>
    RefreshSkills();
    AddNewSkillsDropDown();
    function RefreshSkills() {

        var urlInfo = '@Url.Action("ShowSkillsAcquired", "Admin")';
        $("#showSkillsAcquired").load(urlInfo);

    };

    function AddNewSkillsDropDown() {
        var Url = '@Url.Action("AddNewSkill","Admin")';
        $("#dropdownRefresh").load(Url);
    }
</script>